<h4 class="mb-4">Bảng điều khiển quản trị</h4>
<div class="row text-center g-3">
  <div class="col-md-3"><div class="card"><div class="card-body"><h5>{{stats.categories}}</h5><p>Lĩnh vực</p></div></div></div>
  <div class="col-md-3"><div class="card"><div class="card-body"><h5>{{stats.courses}}</h5><p>Khóa học</p></div></div></div>
  <div class="col-md-3"><div class="card"><div class="card-body"><h5>{{stats.instructors}}</h5><p>Giảng viên</p></div></div></div>
  <div class="col-md-3"><div class="card"><div class="card-body"><h5>{{stats.students}}</h5><p>Học viên</p></div></div></div>
</div>