<div class="container mt-4">
    <h2>Khoá học của tôi</h2>
    <div class="row mt-3">
        {{#each courses}}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{this.thumbnail_url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <a href="/courses/{{this.id}}" class="btn btn-primary">Vào học</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>